/* barra superior */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #4a7bd0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  z-index: 1000;
}

/* logo */
.logo {
  font-size: 20px;
  font-weight: 600;
}

/* campo de busca */
.search input {
  width: 350px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


/* bloco de código estilo documentação */

.markdown-section pre {
  background: #1f2937;
  border-radius: 10px;
  padding: 18px 20px;
  margin: 25px 0;
  overflow-x: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.markdown-section pre code {
  color: #f8fafc;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Code", "JetBrains Mono", monospace;
  background: transparent;
  /* ADICIONE */
  display: block;
  /* ADICIONE */
  padding: 0;
  /* ADICIONE */
}

.markdown-section code {
  background: transparent;
  /* ADICIONE */
}

/* cor das palavras-chave */
.token.keyword {
  color: #f97316;
}

/* cor das strings */
.token.string {
  color: #22c55e;
}

/* cor de funções */

.token.function {
  color: #60a5fa;
}

/* ícones */
.icons span {
  margin-left: 15px;
  cursor: pointer;
}

/* ajustar sidebar */
.sidebar {
  top: 60px;
}

/* ajustar conteúdo */
.content {
  padding-top: 60px;
}

/* largura de leitura */

.markdown-section {
  max-width: 900px;
  margin: auto;
}

blockquote {
  background: #f8fafc;
  border-left: 4px solid #5aa469;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 6px;
  color: #333;
  font-style: normal;
}

/* layout imagem + texto */

.doc-image-text {
  display: flex;
  gap: 24px;
  margin: 30px 0;
  align-items: flex-start;
}

.doc-image-text img {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.doc-image-text-content {
  flex: 1;
}

/* TIP */
.doc-tip {
  background: #e8f5e9;
  border-left: 5px solid #4caf50;
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
}

/* WARNING */
.doc-warning {
  background: #fff3e0;
  border-left: 5px solid #ff9800;
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
}

/* INFO */
.doc-info {
  background: #e3f2fd;
  border-left: 5px solid #2196f3;
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
}

/* responsivo */
@media (max-width:900px) {
  .doc-image-text {
    flex-direction: column;
  }
  .doc-image-text img {
    width: 100%;
  }

}